.dashboard-cards {
  display: flex;
  gap: 20px;
  padding: 0px;
}

.card {
  flex: 1;
  height: 130px;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.titulo-cars {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titulo-cars p {
  margin: 0;
  font-size: 13px;
}

.titulo-cars svg {
  width: 19px;
  height: 19px;
}

.card h2 {
  margin: 10px 0 0;
  font-size: 24px;
}