.ventas-categoria {
  background-color: #ffffff;
  border: 1px solid #d9e0e8;
  border-radius: 15px;
  padding: 25px;
  margin: 0;
  height: 510px;
  box-sizing: border-box;
}
.categoria-header h3 {
  margin: 0;
  font-size: 22px;
}

.categoria-header p {
  margin: 5px 0 0;
  color: #757e87;
}

.grafica-donut {
  width: 100%;
  margin-top: 15px;
}

.categorias-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categoria-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoria-nombre {
  display: flex;
  align-items: center;
  gap: 12px;
}

.categoria-punto {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}