.advertencia {
  background-color: #fff7ed;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 18px;
  margin: 10px 0 20px 0;
}

.advertencia-logo {
  color: #f59e0b;
  display: flex;
  align-items: center;
}

.advertencia-logo svg {
  width: 19px;
  height: 19px;
}

.advertencia-parrafo {
  margin: 0;
  color: #92400e;
  font-size: 13px;
  font-weight: 400;
}

.advertencia-parrafo span {
  font-weight: 600;
}